---
---
// colors
[data-dark="false"] {
  --primary: #009966;
  --secondary: #fef08a;
  --text: #000000;
  --background: #ffffff;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --dark-gray: #404040;
  --overlay: #00000001;
}
[data-dark="true"] {
  --primary: #0795d9;
  --secondary: #065f46;
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --dark-gray: #b0b0b0;
  --overlay: #ffffff05;
}

:root {
  // font families
  --title: "Outfit", sans-serif;
  --heading: "Outfit", sans-serif;
  --body: "Outfit", sans-serif;
  --code: "Roboto Mono", monospace;
  
  // font sizes
  --base-size: 18px;
  --small: 0.9rem;
  --medium: 1.1rem;
  --large: 1.525rem;
  --xl: 1.725rem;
  --xxl: 1.925rem;

  // font weights
  --thin: 300;
  --regular: 500;
  --semi-bold: 600;
  --bold: 700;

  // text line spacing
  --spacing: 2;
  --compact: 1.5;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;
}
