---
---

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 40px 0 20px 0;
  font-family: var(--heading);
  font-weight: var(--semi-bold);
  text-align: left;
  letter-spacing: 1px;
}

h1 {
  margin: 40px 0;
  font-size: var(--xl);
  font-weight: var(--bold);
  text-transform: uppercase;
  text-align: left;
}

h2 {
  font-size: var(--xl);
  padding-bottom: 5px;
  border-bottom: solid 1px var(--light-gray);
  font-weight: var(--regular);
  color: #045d45; /* Dark green color */
}

[data-dark="true"] h2 {
  color: #4ade80; /* Lighter green for dark mode */
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.425rem;
}

h5 {
  font-size: 1.275rem;
}

h6 {
  font-size: 1.125rem;
}

:where(h1, h2, h3, h4, h5, h6) > .icon {
  margin-right: 1em;
  color: var(--light-gray);
}
